extends layout

block content
    div.container-fluid
        div.row-fluid
            div.span12
                h1= title

                div.well
                    h2 Backup
                    a.btn.btn-block.btn-large.btn-primary(href="/backup/pause")
                        i.icon-pause.icon-3x
                    a.btn.btn-block.btn-large.btn-primary(href="/backup/start")
                        i.icon-play.icon-3x